# -----------------------------------------------------
# Переменные окружения (пример)
# -----------------------------------------------------
# Скопируй этот файл и заполни своими значениями:
# cp ~/.config/zshrc/10-env.example ~/.config/zshrc/10-env

# HTTP прокси
export HTTP_PROXY=http://127.0.0.1:2080
export HTTPS_PROXY="$HTTP_PROXY"

# Обход прокси для localhost
export NO_PROXY=127.0.0.1,localhost,::1
