# -----------------------------------------------------
# Переменные окружения (пример)
# -----------------------------------------------------
# Скопируй этот файл и заполни своими значениями:
# cp ~/.config/zshrc/env.example ~/.config/zshrc/env

# HTTP proxy (если нужен)
export HTTP_PROXY=http://127.0.0.1:2080
export HTTPS_PROXY="$HTTP_PROXY"

# Bypass proxy for local server
export NO_PROXY=127.0.0.1,localhost,::1
